header.main-header
    .cookie
        .cookie__text
            | Questo sito utilizza cookie di analisi e di prestazione per migliorarea navigazione degli utenti. Proseguendo la navigazione acconsenti all’uso dei cookie. Per maggiori informazioni clicca qui.
        .cookie__close-btn
            .cookie__cross
                button(type='button')
                    | X
            .cookie__link
                a(class='cookie__link' href='#')
                    | chiudi
    .compact-header
        include _components/_header-logo
        include _components/_gamburger
    .mobile-menu  
        ul.mobile-menu__list
            -var items = ['prodotti', 'filiera', 'news', 'valori', 'contatti', 'language']
            each item in items
                li.mobile-menu__item
                    a(class='mobile-menu__link' href='#')= item=='language'? '' : item
                    -if (item == 'prodotti')
                        .mobile-menu__arrow
                        ul.mobile-menu__inner-list
                            -var arr = ['direzionali', 'attesa', 'high_line', 'operative', 'lavoro']
                            each i in arr
                                li.mobile-menu__inner-item
                                    a(class='mobile-menu__inner-link' href='#')= i
                    -if (item == 'valori')
                        .mobile-menu__arrow
                        ul.mobile-menu__inner-list
                            -var arr = ['ricerca', 'collaborazione', 'accuratezza', 'ergonomia', 'flessibilita', 'organizzazione']
                            each i in arr
                                li.mobile-menu__inner-item
                                    a(class='mobile-menu__inner-link' href='#')= i
                    -if (item == 'language')
                        ul.mobile-menu__langs
                            -var langs = ['en', 'it']
                            each lang in langs
                                li.mobile-menu__lang
                                    a(class='mobile-menu__lang-link' href='#')= lang
        ul.mobile-menu__socials
            -var socials = ['twitter', 'facebook', 'linkedin', 'youtube', 'pinterest']
            each social in socials
                li(class='socials__item')
                    a(class='socials__link socials__link--' + social href='#')= social
    .main-menu
        .logo__wrapper
            include _components/_header-logo
            include _components/_language
        a(class='main-menu__item' href='#')
            | prodotti
        a(class='main-menu__item' href='#')
            | filiera
        a(class='main-menu__item' href='#')
            | news
        .main-menu__video-wrapper
            video(class='main-menu__video' poster='commons/images/video-poster.jpg' preload='metadata')
                source(src='')
            .play-btn
        a(href="#" class="main-menu__item main-menu__item--bg")
            .main-menu__text
                | ricerca
        a(href="#" class="main-menu__item main-menu__item--bg")
            .main-menu__text
                | ricerca
        a(href="#" class="main-menu__item main-menu__item--bg")
            .main-menu__text
                | ricerca
        a(href="#" class="main-menu__item main-menu__item--bg")
            .main-menu__text
                | ricerca
        a(href="#" class="main-menu__item main-menu__item--bg")
            .main-menu__text
                | ricerca
        a(href="#" class="main-menu__item main-menu__item--bg")
            .main-menu__text
                | ricerca
        form(action="" class="main-menu__search")
            label
                | trova una SEDIA
                input(class="main-menu__search-input" type="search")
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | direzionali
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | direzionali
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | direzionali
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | direzionali
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | direzionali
            
    
        
                
        
                    
                
